.about {
  padding: 120px 0 240px;

  color: $color-sapphire;

  @include vp-1365 {
    padding: 100px 0 183px;
  }
  @include vp-767 {
    padding: 70px 0;
  }

  h2 {
    margin: 0 0 25px 0;

    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    font-family: $ff-alumni;
    letter-spacing: 1.62px;

    @include vp-1365 {
      margin: 0 0 20px 0;

      font-size: 42px;
      letter-spacing: 1.26px;
    }
    @include vp-767 {
      margin: 0 0 13px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }

  h3 {
    margin: 0 0 95px 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 22px;

    @include vp-1365 {
      margin: 0 0 36px 0;

      font-size: 20px;
      line-height: 20px;
    }
    @include vp-767 {
      margin: 0 0 40px 0;

      font-size: 18px;
      line-height: 20px;
    }
  }

  p {
    margin: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
    }
  }

  p + p {
    margin-top: 5px;

    @include vp-1365 {
      display: none;
    }
  }
}

.about__wrapper {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  position: relative;

  gap: 145px;
  @include vp-1365 {
    flex-direction: column;
    align-items: center;
    width: 100%;

    text-align: center;

    gap: 36px;
  }
  @include vp-767 {
    text-align: left;
    height: 100%;
    gap: 0;
    align-items: unset;
  }
}

.about__content-wrapper {
  max-width: 355px;

  @include vp-1365 {
    max-width: 502px;
  }
  @include vp-767 {
    margin: 0 0 50px 0;
  }
}

.about__img-wrapper {
  max-width: 660px;

  @include vp-1365 {
    width: 100%;
    max-width: unset;
    height: 345px;
  }
  @include vp-767 {
    width: 100vw;
    height: auto;
    margin: 0 0 40px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 100%;
    height: 100%;

    border: none;

    object-fit: cover;
  }
}

.about__video-wrapper {
  position: absolute;
  left: calc(50% + 39px);
  transform: translateX(-50%);
  bottom: -115px;
  width: 364px;
  height: 228px;
  cursor: pointer;

  @include vp-1365 {
    bottom: -83px;
    left: 50%;
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    position: relative;
    width: 100vw;
    height: 167px;
    bottom: unset;
  }

  iframe {
    width: 364px;
    height: 228px;
    display: block;
    position: absolute;
    z-index: -5;

    @include vp-1365 {
      width: 265px;
      height: 167px;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}

.about__video-poster {
  position: absolute;
  width: 364px;
  height: 228px;
  left: 0;
  top: 0;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark-cerulean;
    opacity: 0.5;
    content: "";
  }

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about__video-button {
  cursor: pointer;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;

  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-image: $red-to-blue-to-right;

  outline: 1px solid rgba($color-torch-red, 0.2);
  outline-offset: 12px;

  @include vp-1365 {
    width: 52px;
    height: 52px;

    outline-offset: 8px;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
  }
}
