.btn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding: 27px 56px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: $color-transparent;
  border: 2px solid $color-default-white;
  cursor: pointer;

  transition: all $trans-default;

  @include vp-1365 {
    padding: 22px 32px;
  }
  @include hover-focus {
    color: $color-egyptian-blue;

    background-color: $color-default-white;
  }
  @include active {
    color: $color-default-black;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}

.btn-secondary {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  min-height: 56px;
  padding: 27px 56px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-sapphire;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: $color-default-white;
  border: 2px solid $color-sapphire;
  cursor: pointer;

  transition: background-color $trans-default;

  @include vp-1365 {
    padding: 22px 32px;
  }
  @include hover-focus {
    color: $color-default-white;

    background: $red-to-blue-to-right;
    border: none;
  }
  @include active {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
