.price {
  padding: 120px 0;
  color: $color-sapphire;
  background-color: $color-ghost-white;
  position: relative;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 40px;

    @include vp-1365 {
      grid-template-columns: 1fr;
    }
  }

  li {
    padding: 65px 70px;
    background-color: $color-default-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 448px;
    border: 7px solid $color-transparent;

    @include vp-1365 {
      padding: 65px 118px;
      // min-width: 440px;
    }
  }

  .price__card-accent {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: $red-to-blue-to-bottom-right;
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 11px 0;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 18px 0;
    }
  }

  p {
    margin: 0 0 66px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @include vp-1365 {
      margin: 0 0 72px 0;
    }
  }

  b {
    color: $color-egyptian-blue;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    margin: 0 0 35px 0;

    @include vp-1365 {
      margin: 0 0 24px 0;
    }
  }

  span {
    font-family: $ff-rouble;
    color: $color-sapphire;
  }

  a {
    @include vp-1365 {
      padding: 20px 42px;
    }
  }

  // &::after {
  //   content: "";
  //   width: 321px;
  //   height: 384px;
  //   ТУТ ДОЛЖНЫ БЫТЬ БЛИНЫ
  // }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__title {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0 0 38px 0;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }
}

.price__tabs {
  display: flex;
  gap: 50px;
  position: relative;
  margin: 0 0 37px 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    background-color: rgba($color-grey, 0.2);
    z-index: 1;
  }

  @include vp-1365 {
    margin: 0 0 45px 0;
  }

  .is-active {
    color: $color-sapphire;

    &::after {
      content: "";
    }
  }
}

.price__tab {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  color: rgba($color-sapphire, 0.5);
  border: none;
  background-color: unset;
  padding: 5px 0 14px;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $color-crimson;
    z-index: 2;
  }

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
  }

  @include hover-focus {
    color: $color-sapphire;

    &::after {
      content: "";
    }
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}
